* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 100%;
}

h1 {
    color: rgba(254,254,254, 0.85);
 }
 
 p {     
    Color: rgba(255,255,255, 0.65);
 }

.container {
    display: grid;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom right;
    background-color: rgba(0, 0, 0, .85);
    background-image: url(../img/bg_1.jpg);
    background-blend-mode: multiply;
}

.skew-container {
    position: fixed;
    right: 0;
    bottom: 0;
    display: block;
    width: 100%;
    height: 60px;
    overflow: hidden;
}

.skew-box {
    position: absolute;
    right: 0;
    bottom: -43px;
    display: block;
    width: 100%;
    height: 50px;
    background-color: rgba(255, 165, 0, .15);
    transform: skewY(0.85deg);
}

.skew-box:nth-child(2) {
    bottom: -39px;
    transform: skewY(-1.55deg);
}

/*header
---------------------------*/
header {
    position: fixed;
    width: 100vw;
    min-width: 60px;
    display: block;
    z-index: 90;
} 

nav {
    position: relative;
    left: 0;
    top: 0;
}

.hamburger {
    position:absolute;
    left: 0;
    top: -100vh;
    display: block;
    width: 100vw;
    height: 100vh;
    padding-left: 30px;
    padding-top: 90px;
    background-color: rgba(0, 0, 0, .75);
    backdrop-filter: blur(5px);
}

.hamburger-show {
    position: absolute;
    left: 0;
    top: 0;
    display: block;
    width: 100vw;
    height: 100vh;
}

.hamburger >a {
    color: #fff;
    text-decoration: none;
}

h2 {
    margin-bottom: 25px;
}

.search {
    position: absolute;
    top: 8px;
    right: 35px;
    display: block;
    width: 40px;
    height: 52px;
    cursor: pointer;
}

.search-1,
.search-2 {
    position: absolute;
    display: block;
    /* background-color: rgba(255, 255, 255, .85); */
    box-shadow: 0 3px 3px rgb(0, 0, 0);
}

.search-1 {
    top: 16px;
    width: 22px;
    height: 22px;
    border: 3px solid rgba(255, 255, 255, .85);
    border-radius: 50%;
}

.search-2 {
    top: 33px;
    left: 17px;
    width: 18px;
    height: 3px;
    background-color: rgba(255, 255, 255, .85);
    border-radius: 1px;
    transform: rotate(30deg);
}

.hambox {
    position: absolute;
    top: 8px;
    left: 30px;
    display: block;
    width: 52px;
    height: 52px;
    cursor: pointer;
}

.ham-1,
.ham-2 {
    position: absolute;
    display: block;
    width: 32px;
    height: 4px;
    background-color: rgba(255, 255, 255, .85);
    box-shadow: 0 3px 3px rgb(0, 0, 0);
}

.ham-1 {
    top: 16px;
    left: 2px;
}

.ham-2 {
    top: 28px;
    left: 2px;
}

.ham-1-after {
    top: 24px;
}

.ham-2-after {
    top: 24px;
    left: 2px;
    box-shadow: 3px 0 3px rgb(0, 0, 0);
    transform: rotate(90deg);
}

.profile-picture {
    position: absolute;
    left: calc(50% - 30px);
    top: -39px;
    display: block;
    width: 60px;
    height: 60px;
}
 
.profile-picture img{
    display: block;
    width: 60px;
    height: 60px;
    object-fit: cover;
    border: 3px solid rgba(255, 165, 0, .55);
    border-radius: 30px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, .75);
}

/* form 
------------------------------*/

form {
    width: 100vw;
    padding: 7vh 13vw;
    background-color: rgba(255, 255, 255, 0);
    border: 1px solid rgba(255, 255, 255, 0);
    border-radius: 35px;
}

form > h2 {
    color: #fff;
}

input {
    display: block;
    width: 100%;
    height: 49px;
    margin-bottom: 25px;
    padding: 0 1em;
    outline: none;
    border: 1px solid rgba(255, 255, 255, .35);
    border-radius: 9px;
    background-color: rgba(0, 0, 0, 0);
    font-size: 20px;
    color: rgba(255, 255, 255, .75);

}

input:focus {
    border-color: #66afe9;
    outline: none;
    box-shadow: 0 1px 1px rgba(102,175,233,.6);
}

.button {
    width: 100%;
    background-color: #85D0DD;
    font-size: 25px;
    color: rgba(0, 0, 0, .55);
}

.button:active,
.button:focus,
.button:hover {
    background-color: #005580;
    border-color: #005580;
    color: #fff;
    text-decoration: none;
}

.button:active {
    box-shadow: inset 0 0.156em 0.25em rgba(0, 0, 0, 0.15), 0 1px 0.156em rgba(0, 0, 0, 0.05);
}

/* persoonsgegevens aanpassen
--------------------------------------- */
.profile-form {
    width: 85vw;
    padding: 0 5vw 6vh;
    background-color: rgba(255, 255, 255, 0);
    border: 1px solid rgba(255, 255, 255, 0);
    border-radius: 35px;
}

.profile-picture-form >img {
    position: relative;
    /* left: calc(50% - 30px); */
    top: -20px;
    display: block;
    width: 60px;
    height: 60px;
    object-fit: cover;
    border: 3px solid rgba(255, 165, 0, .55);
    border-radius: 30px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, .75);
}

/* Bestemmingen pagina 
--------------------------------------*/
.headerbg{
    display: grid;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 20vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom right;
    background-color: rgba(0, 0, 0, 0);
    background-image: url(../img/bg_1.jpg);
    background-blend-mode: multiply;
}

.header-img {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 150px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom right;
    background-image: url(../img/bg_1.jpg);
    box-shadow: 0 6px 18px rgb(0, 0, 0);
    overflow: hidden;
}

.profile-picture {
    position: absolute;
    left: calc(50% - 30px);
    top: -33px;
    display: block;
    width: 60px;
    height: 60px;
}

.profile-picture img{
    display: block;
    width: 60px;
    height: 60px;
    object-fit: cover;
    border: 3px solid rgba(255, 165, 0, .55);
    border-radius: 30px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, .75);
}

.page-name {
    position: absolute;
    top: 150px;
    width: 100%;
    display: block;
    margin: auto;
}

.event-raad {
    position: absolute;
    right: 0%;
    transform: translateX(79%);
    transform-origin: center;
    top: 50vh;
    display: block;
    width: 200px;
    height: 90px;
    padding: 35px 9px;
    background-color: rgba(0, 0, 0, .15);
    font-size: 16px;
    font-weight: bold;
    border: 1px solid #999;
    border-radius: 9px;
    box-shadow: 0 3px 3px rgba(0, 0, 0, .65);
}

.event-raad >a {
    position: relative;
    display: block;
    color: rgba(0, 0, 0, .65);
    text-decoration: none;    
}

.event-raad:hover {
    transform: translateX(15%);
    background-color: rgba(154, 4, 144, .85);
    font-size: 16px;
    text-shadow: 1px 1px 1px rgb(0, 0, 0);
    border: 1px solid #c2c2c2;
    transition: all .15s cubic-bezier(0.55, 0.085, 0.68, 0.53);
}

.event-raad:active {
    background-color: rgba(0, 0, 0, .85);
}

.event-raad:hover >a {
    color: #fff;
}

.profile >img {
    position: relative;
    left: calc(50% - 30px);
    display: block;
    width: 60px;
    height: 60px;
    object-fit: cover;
    border: 3px solid rgba(255, 165, 0, .55);
    border-radius: 30px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, .75);
}

.hi-user {
    position: absolute;
    left: calc(50% + 65px);
    transform: translateX(-50%);
    top: -20px;
    display: block;
    font-size: 16px;
    color: rgba(255, 255, 255, 1);
    text-shadow: 0 0 5px rgba(0, 0, 0, 1);
}

.page-name >h2 {
    position: absolute;
    left: 50%;
    top: 50px;
    transform: translateX(-50%);
    padding: 5px 8px;
    background: rgba(255, 255, 255, .65);
    border-radius: 9px;
}

.container-bestemming {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
    grid-gap: 16px;
    padding: 290px 50px 70px ;
}

.bestemming-box {
    height: 200px;
    border-radius: 9px;
    background-color: #f60;
    background-size: cover;
    box-shadow: 0 3px 6px rgba(0, 0, 0, .5);
    overflow: hidden;
}

.bestemming-box > img{
    display: block;
    width: 100%;
    height: 100%;
    position: relative;
    object-fit: cover;
}

.card {
    width: 100%;
    height: 100%;
    position: relative;
    top: -100%;
    left: 0;
    background-color: rgba(0, 0, 0, .55);
    opacity: 0;
}

.card:hover {
    /* background-color: rgba(0, 0, 0, .65); */
    opacity: 1;
    transition: all .12s ease-in-out;
}

.card:hover .subcard{
    bottom: 0;
    transition: all .23s ease-in-out;
}

.card >h5 {
    display: block;
    width: 100%;
    position: absolute;
    bottom: 46px;
    text-align: center;
    color: rgba(255, 255, 255, .75);
}

.subcard{
    width: 100%;
    height: 39px;
    position: absolute;
    left: 0;
    bottom: -39px;
    text-align: center;
    line-height: 200%;
    background-color: rgba(249, 145, 10, 0.55);
}

.subcard >a {
    font-size: 12px;
    color: #fff;
    text-decoration: none;
}


/* besteming
------------------------------ */
.detail-card {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.detail-card >img {
    display: block;
    width: 100%;
    height: 100%;
    padding-bottom: 55vh;
    object-fit: cover;
}

.info {
    position: absolute;
    right: 0;
    bottom: -10%;
    display: block;
    width: 100%;
    height: 70%;
    background:#fff;
    border-radius: 35px 35px 0 0;
    box-shadow: 0 3px 6px rgba(0, 0, 0, .75);
}

.info >.hi-user {
    position: absolute;
    left: calc(50%);
    transform: translateX(-50%);
    top: 35px;
    display: block;
    font-size: 16px;
    color: rgba(0, 0, 0, .75);
    text-shadow: 0 0 5px rgba(0, 0, 0, 0);
}

.info >h3 {
    margin-top: 65px;
}

.bestellen-btn {
    position: absolute;
    left: calc(50% - 150px);
    bottom: 17vh;
    width: 300px;
    height: 69px;
    padding-top: 17px;
    background: #0ABAFC;
    text-align: center;
    text-shadow: 0 0 2px rgb(0, 0, 0);
    border-radius: 25px;
}

.bestellen-btn >h1 {
    color: #fff;
}

/* bestellen 
------------------------------*/
.bestelling-info {
    background: #820661;
}

.bestelling-info >img {
    padding-bottom: 0;
    opacity: .35;
}

.bestelling-info >.info {
    left: 0;
    top: 155px;
    width: 100%;
    text-align: center;
    border-radius: 35px;
}

.bevestiging-btn {
    position: absolute;
    width: 100%;
    bottom: 0;
    border-radius: 0 0 35px 35px;
}

.bevestiging-btn >h3 {
    display: block;
    width: 100%;
    padding: 13px 0;
    background: #FB07D2;
    font-size: 30px;
    text-align: center;
    color: #fff;
}

.yes-no-btn {
    left: 0;
    bottom: 0;
    width: 100%;
    height: 69px;
    border-radius: 0 0 35px 35px;
}

.yes-btn {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 50%;
    height: 69px;
    padding-left: calc(50% - 80px);
    background: #F9A10A;
    font-size: 40px;
    font-weight: bold;
    color: #fff;
    line-height: 1.5;
    border-radius: 0 0 0 35px;
}

.no-btn {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 50%;
    height: 69px;
    padding-right: calc(50% - 120px);
    background: #9EA1A1;
    font-size: 40px;
    font-weight: bold;
    color: #4A4A4A;
    line-height: 1.5;
    border-radius: 0 0 35px 0;
}

/* completed-logout 
-----------------------------------*/
.bestelling-finish {
    background: #60088B;
}

.bestelling-finish >img {
    padding-bottom: 0;
    opacity: .35;
}

.bestelling-finish >.info {
    left: 0;
    top: 155px;
    width: 100%;
    text-align: center;
    border-radius: 35px;
}

.complete {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 100%;
}

.complete >a {
    text-decoration: none;
    color: #fff;
}

.complete-btn {
    height: 90px;
    padding-top: 27px;
    background: #0ABAFC;
    font-size: 30px;
    font-weight: bold;
    text-shadow: 0 0 2px rgb(0, 0, 0);
    border-radius: 0 0 35px 35px;
}



/* medai query
----------------------------- */
/* tabel versie */
@media only screen and (min-width: 760px) {
    .skew-box {
        bottom: -39px;
        display: block;
        background-color: rgba(255, 165, 0, .15);
        transform: skewY(0.39deg);
    }
    
    .skew-box:nth-child(2) {
        bottom: -37px;
        transform: skewY(-0.9deg);
    }

    form {
        width: 50vw;
        padding: 5vh 4.3vw;
        background-color: rgba(255, 255, 255, .05);
        border: 1px solid rgba(255, 255, 255, .11);
        backdrop-filter: blur(3px);
    }    

    .profile-form {
        width: 50vw;
        padding: 0 4.5vw 3.5vh;
        background-color: rgba(255, 255, 255, .05);
        border: 1px solid rgba(255, 255, 255, .11);
        backdrop-filter: blur(3px);
    }

    .profile-picture-form >img {
        left: calc(50% - 30px);
        top: -33px;
    }

    .container-bestemming {
        grid-template-columns: repeat(auto-fill, minmax(135px, 1fr));
        padding: 290px 130px 70px ;
    }
    
    .info {
        top: 150px;
        left: calc(50% - 210px);
        width: 420px;
        height: 470px;
        border-radius: 35px;
    }
    
    .info >.hi-user {
        position: absolute;
        left: calc(50%);
        transform: translateX(-50%);
        top: 35px;
        display: block;
        font-size: 16px;
        color: rgba(0, 0, 0, .75);
    }

    .detail-card > img {
        padding-bottom: 0;
    }

    .bestellen-btn {
        position: absolute;
        left: calc(50% - 150px);
        bottom: 6vh;
        width: 300px;
        height: 69px;
        padding-top: 17px;
        background: #0ABAFC;
    }

    .bestelling-info >.info {
        position: absolute;
        top: 150px;
        left: calc(50% - 210px);
        display: block;
        width: 420px;
        height: 470px;
        border-radius: 35px;
    }

    .bestelling-finish >.info {
        position: absolute;
        top: 150px;
        left: calc(50% - 210px);
        display: block;
        width: 420px;
        height: 470px;
    }
}

/* web versie */
@media only screen and (min-width: 1280px) {
    form {
        width: 31vw;
    }

    .profile-form {
        width: 30vw;
        padding: 0 3vw 3.5vh;
    }
}








